/* -------------------------------  All Interface login & Signup */
.main {
    width: 703px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 24px 102px 0 101px
}

.main h4 {
    font-weight: 600;
    font-size: 25px;
}

.logAccount p {
    color: #151617 !important;
    font-weight: 400 !important;
}

/* login */
.mainLogin {
    height: 821px;
    margin: 109px auto 86px;
}

/*  title */
.mainLogin h4 {
    margin: 64px 0 40px 0;
}

/*  form */
.logLabel,
.forget {
    color: #707070;
}

.sign,
.forget {
    text-decoration: none;
}

.logLabel,
.forget {
    font-weight: 500;
}

.forget {
    margin-left: 370px;
    font-size: 16px;
}

.logAccount {
    margin-top: 60px;
    text-align: center;
}

.sign {
    color: #0044FF;
    margin-left: 5px;
}

/* error */
.error {
    color: red !important;
}