/* style form */
.form input[type=submit] {
    width: 520px;
    height: 60px;
    margin-top: 92px;
    margin-left: 101px;
    background-color: #4375FF;
    color: white;
    font-weight: 500;
    font-size: x-large;
    border-radius: 7px;
    border: none;
}

.logAccount {
    margin-top: 60px;
    text-align: center;
}

.logAccount p {
    color: #151617;
    font-weight: 350;
}