.main p{
    font-weight: 380;
    font-size:x-large;
    width: 500px;
    margin-bottom: 48px;
}
.number{
    width: 60px;
    height: 60px;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    margin-left: 131px;
    margin-right: 11px;
}