.check{
    margin-left: 314px;
    margin-top: 55px;
}
.mainCheck h4 {
    text-align: center;
    margin-top: 45px;
    letter-spacing: 2px;
    margin-bottom: 0;
    font-size: x-large;
    font-weight: 500;
}
.mainCheck p {
    margin-left: 101px;
    margin-top: 40px;
    margin-right: 107px;
    font-weight: 400;
    font-size: x-large;
}
/* style form */
 input[type=submit] {
    width: 520px;
    height: 60px;
    margin-top: 96px;
    margin-left: 101px;
    background-color: #4375FF;
    color: white;
    font-weight: 500;
    font-size: x-large;
    border-radius: 7px;
    border: none;
}
