.mainCheck{
    text-align: center;
}
.check{
    margin-top: 55px;

}
.mainCheck h4 {
    margin-top: 45px;
    letter-spacing: 2px;
    font-size: x-large;
}
.mainCheck p {
    margin-top: 40px;
    font-size: x-large;
    text-align: left;
}

