.foo {
    display: flex;
    justify-content: space-around;
    margin-left: 110px;
    margin-right: 44px;
    width: 456px;
}

.foo p {
    color: #151617;
    font-weight: 400;
    font-size: small;
}