.mainSign {
    height: auto;
    margin: 66px auto 0px;
    padding-bottom:44px ;
}

.mainSign h4 {
    margin: 34px 0 40px 0;
}

/* ---------- style form ----------------- */
.fullName {
    display: flex;
    margin: 32px 0;
}

.fullName,
.form select {
    width: 100%;
}

.inputName input {
    width: 234px;
    height: 60px;
    margin: 9px 32px 0 0;
    padding-left: 14px;

}

.form select,
.inputName input {
    font-size: medium;
    border: 1px solid #BEC2C6;
    border-radius: 7px;
}

.logInput {
    margin-top: 32px;
}

.form select {
    height: 60px;
    padding: 20px;
    margin-top: 10px;
}
