/* main contanier */
.main {
    width: 703px;
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
/* In login & Signup */
.main h4 {
    margin-left: 101px;
    letter-spacing: 1.5px;
    font-weight: 600;
    font-size: large;
}

.logAccount p{
        color: #151617;
        font-weight: 400;
        text-align: center;
}
.password{
    position: relative;
}
.password i {
    position: absolute;
    top: 50px;
    right: 103px;
    color: #707070;
  }
/* ------------------form -----------------------------------------------------*/
.form .logInput {
    display: flex;
    flex-direction: column;
    margin-left: 101px;
}

.logInput input {
    width: 500px;
    height: 60px;
    margin-top: 9px;
    font-size: medium;
    padding-left: 14px;
    border: 1px solid #BEC2C6;
    border-radius: 7px;
}

.input2 {
    margin-top: 32px;
}

.logLabel {
    color: #707070;
    font-weight: 500;
}
.form input[type=submit] {
    width: 520px;
    height: 60px;
    margin-left: 101px;
    margin-top: 92px;
    background-color: #4375FF;
    color: white;
    font-weight: 500;
    font-size: x-large;
    border-radius: 7px;
    border: none;
}
